{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cliente.css' %}">
    <title>
       {% block title %} {% endblock %}
    </title>
</head>
<body>
    <header>
        <!-- Encaixe do cabeçalho -->
       {% include 'componentes/header.html' %}
    </header>
    <main>
        <!-- Criando a janela do porta retrato -->
       {% block content %} {% endblock %}
    </main>
</body>
</html>