*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family:'ADLaM Display';
}

body{
    background-color: #F2F2F2;  
}

.bar_um{
    width: 100vw;
    height: 10vh;
    background-color: #5C468C;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bar_um h1{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #C8C5D9;
    font-family: "Arial";
    font-weight: bold;
    font-size: 36px;
}

.bar_dois{
    width: 100vw;
    height: 12vh;
    background-color: #A66DA2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bar_dois ul{
    display: flex;
    list-style: none;
}

.bar_dois ul li a{
    text-decoration: none;
    margin: 0 20px;
    color: #C8C5D9;
    font-family: "Arial";      
    font-size: 20px;    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #C8C5D9;    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;   
    
}

main section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
    width: auto;
    height: auto;
    margin: 1%;
    font-family: "Arial";

    h2{
        color: #5C468C;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: "Arial";
        font-weight: bold;
        font-size: 200%
    }

    a{
        width: auto;
        height: 50vh;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #5C468C;
        color: #C8C5D9;       
        border-radius: 5px; 
        
        font-size: 14px;
        text-align: center;
        text-decoration: none;
    }
};

table {
  width: auto; /* Define a largura da tabela */
  border-collapse:collapse; /* Colapsa as bordas das células */
  margin: auto; /* Centraliza a tabela na página */
}

th, td {
  border: 1px solid #ddd; /* Adiciona bordas às células */
  padding: 1%; /* Adiciona preenchimento interno às células */
  text-align: left; /* Alinha o texto à esquerda */
}

th {
  background-color: #A66DA2; /* Cor de fundo para os cabeçalhos */
  color: #5C468C;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Cor de fundo para linhas pares */
}

 

    
